# ==========================================
# SUPABASE CONFIGURATION (Wajib Diisi)
# ==========================================
# Ambil dari Supabase Dashboard
NEXT_PUBLIC_SUPABASE_URL="https://[YOUR_PROJECT_ID].supabase.co"

# Ambil dari Project Settings -> API Keys -> Publishable key (contoh: sb_publishable_abcdefghijklmnopqrztu) yang teksnya paaanjaang
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key-here"

# Ambil dari Project Settings -> API Keys -> Secret keys (contoh: sb_secret_qwertyiopasdfghjklzxcvbnm) teksnya panjaang
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key-here"

# ==========================================
# CLOUDINARY CONFIGURATION (Untuk Fitur Upload Foto)
# ==========================================
# Ambil dari Cloudinary Dashboard atau klik "Go to API Keys"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"  # JAGA BAIK-BAIK jangan sampai ini ke publish


### KALO UDAH SEMUA TINGGAL ubah nama filenya jadi .env.local dan import ke environment saat deploy ke vercel.

### SEKIAN. Terimakasih semoga useful dan bermanfaat buat kawan-kawan